<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Core Libraries" value="https://www.myget.org/F/ryan_solutions/auth/37c84df1-dcc1-4237-8780-36fb258625bf/api/v2" />
  </packageSources>

  <disabledPackageSources />
  
  <activePackageSource>
    <add key="Microsoft and .NET" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
  </activePackageSource>

</configuration>